* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vPageOneControler {
  display: flex;
  align-items: center;
  height: 100vh;
}
.redirectBtn {
  margin: 0 auto;
}

.redirectBtn button {
  padding: 15px;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 335px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: rgb(34 34 34 / 86%);
}

span.rounded_number {
  display: flex;
  align-items: center;
  background: #ff0047c2;
  width: 28px;
  height: 28px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}
.campingBtn button {
  border-radius: 13px;
  background: #776fe9;
  color: white;
}
.singUpTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.inputSec input {
  border: none;
  border-bottom: 1px solid gray;
  margin: 8px 0px;
  width: 95%;
  font-size: 20px;
  outline: none;
  padding: 10px 0px;
}

.checkboxCondition {
  display: flex;
  padding: 2rem 0rem;
  gap: 10px;
}
.checkboxCondition p {
  width: 35rem;
  font-size: 14px;
}
